<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <!-- update these with your BotId, Microsoft App Id and your Microsoft App Password-->
    <add key="BotId" value="TechAdvisorChatbot" />
    <!--<add key="MicrosoftAppId" value="" />
    <add key="MicrosoftAppPassword" value="" />-->
    <add key="MicrosoftAppId" value="" />
    <add key="MicrosoftAppPassword" value="" />
    <add key="XSLT_ARTICLE_PATH" value="D:\prod\websites\default\wwwroot\lib\Transformation\XSLT\common2html2.xslt"/>
    <add key="XSLT_HTML2TOC_PATH" value="D:\prod\websites\default\wwwroot\lib\Transformation\XSLT\html2toc.xslt"/>
    <add key="XSLT_XML2TOC_PATH" value="D:\prod\websites\default\wwwroot\lib\Transformation\XSLT\xml2toc_xml.xslt"/>
    <add key="XSLT_XML2TOCNEW_PATH" value="D:\prod\websites\default\wwwroot\lib\Transformation\XSLT\Xml2Toc.xslt"/>
    <add key="XSLT_TOC2HTML_PATH" value="D:\prod\websites\default\wwwroot\lib\Transformation\XSLT\Toc2Html.xslt"/>
    <add key="XSLT_XML2TOCPREVW_PATH" value="D:\prod\websites\default\wwwroot\lib\Transformation\XSLT\TOC2HtmlPreview.xslt"/>
    <add key="XSLT_XMLPREVW_PATH" value="D:\prod\websites\default\wwwroot\lib\Transformation\XSLT\PreviewXML.xslt"/>
    <add key="XSLT_TOC2HTML_CSRL_PATH" value="D:\prod\websites\default\wwwroot\lib\Transformation\XSLT\TocToHtmlCSRL.xslt"/>
    <add key="XSLT_ARTICLE_PDF_PATH" value="D:\prod\websites\default\wwwroot\lib\Transformation\XSLT\common2htmlPdf.xslt"/>
    <add key="XSLT_Common2HTML_CSRL_PATH" value="D:\prod\websites\default\wwwroot\lib\Transformation\XSLT\Common2HtmlCSRL.xslt"/>
    <add key="XSLT_CSRL_XMLPREVW_PATH" value="D:\prod\websites\default\wwwroot\lib\Transformation\XSLT\CSRLPreviewXML.xslt"/>
    <add key="XSLT_XML2Chunk_PATH" value="D:\prod\websites\default\wwwroot\lib\Transformation\XSLT\ChunkXML.xslt" />
    <add key="OEM_REQUEST_TOPIC_LIST" value="Air Bag=2;Vehicle Dimensions=1;Repair Standards=4"/>
    <!-- Added by vikas to set depth in toc.if u want record upto 3 level,set it to 2.if u set 0,it will display only first level records -->
    <add key="XSLT_TOC_DEPTH" value="2"/>
    <add key="CSRL_XSLT_TOC_DEPTH" value="2"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" /> 
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="default.htm" />
      </files>
    </defaultDocument>
    
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>